<ion-view title="Contacts" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="contacts-list2">
      <ion-item class="item-thumbnail-left" id="contacts-list-item4" href-inappbrowser="https://www.dulwich.org.uk/contact">
        <img src="img/2xPYg8xfSvGZEq3nPWOa_andrew_storey.jpg">
        <h2>Dr Storey</h2>
        <p style="white-space:normal;">Director of IT</p>
      </ion-item>
    </ion-list>
    <a href="mailto:storeyac@dulwich.org.uk" id="contacts-button2" class="button button-positive button-block">email me</a>
    <a href="tel:02086933601" id="contacts-button3" class="button button-positive button-block">Call me</a>
  </ion-content>
</ion-view>