<ion-view title="Settings" id="page5">
  <ion-content padding="true" class="has-header">
    <h3 id="settings-heading2" style="color:#000000;">Name</h3>
    <form id="settings-form1" class="list">
      <label class="item item-input" id="settings-input1">
        <span class="input-label">name</span>
        <input type="text" placeholder="">
      </label>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle1">Busy</ion-toggle>
    </form>
    <button id="settings-button1" class="button button-positive button-block">Save</button>
  </ion-content>
</ion-view>